 /* font css  */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 /* style.css*/

 body {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 .container {
     width: 1216px;
     margin: 0 50px;
 }

 button {
     border: none;
     cursor: pointer;
 }

 nav {
     background-color: #2b3c53;
     color: white;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px 50px;
 }

 .logo {
     font-size: 1.5rem;
 }

 ul {
     display: flex;
     list-style: none;
     padding: 0;
     margin: 0;
 }

 ul li {
     margin-right: 70px;
 }

 ul li a {
     text-decoration: none;
     transition: color 0.3s;
     font-size: 21px;
     text-transform: uppercase;
     color: #ffffff;
     font-weight: 500;
     font-family: "Poppins", sans-serif;
 }

 ul li a:hover {
     color: #6a88b1;
 }

 .checkbtn {
     font-size: 30px;
     color: white;
     cursor: pointer;
     display: none;
 }

 #check {
     display: none;
 }

 @media (max-width: 768px) {
     .checkbtn {
         display: block;
         order: 1;
         margin-right: 20px;
     }

     ul {
         position: fixed;
         top: 73px;
         right: -100%;
         background-color: #2b3c53;
         display: flex;
         width: 100%;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         transition: all 0.3s;
     }

     ul li {
         margin: 20px 0;
     }

     ul li a {
         font-size: 20px;
     }

     #check:checked~ul {
         right: 0;
     }
 }

 /* header start  */
 header {
     width: 100%;
     overflow: hidden;
 }

 .design_school {
     text-align: center;
     width: 100%;
     margin: 90px 0;
     position: relative;
 }

 .design_school::before {
     content: "";
     background: url(/Design-School/img/design_after_before.png);
     position: absolute;
     width: 600px;
     height: 600px;
     top: -270px;
     left: -290px;
 }

 .design_school::after {
     content: "";
     background: url(/Design-School/img/design_after_before.png);
     position: absolute;
     width: 600px;
     height: 600px;
     top: -20px;
     right: -320px;
 }

 .design_center {
     width: 55%;
     margin: 0 auto;
     text-align: center;
 }

 .design_center h1 {
     font-size: 70px;
     letter-spacing: 2px;
     color: #2b3c53;
     font-weight: 400;
     font-family: "Righteous";
     margin: 10px 0;
 }

 .design_center h3 {
     font-size: 26px;
     letter-spacing: 1px;
     color: #2b3c53;
     font-weight: 500;
     font-family: "Poppins";
     margin: 10px 0;
 }

 .design_center p {
     font-size: 25px;
     letter-spacing: 1px;
     color: #2b3c53;
     font-weight: 400;
     font-family: "Poppins";
     margin: 20px 0;
 }

 .design_center button {
     font-size: 21px;
     letter-spacing: 0px;
     color: #fcfcfc;
     font-weight: 400;
     font-family: "Poppins";
     background-color: #2b3c53;
     border-radius: 20px;
     padding: 5px 20px;
 }

 /* section about start  */
 #about {
     background-color: #5e9a62;
     width: 100%;
     overflow: hidden;
     padding: 80px 0;
 }

 .graphic_about {
     width: 100%;
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
 }

 .about_img,
 .about_content {
     width: 48%;
 }

 .about_img img {
     width: 80%;
     margin: 0 auto;
     display: table;
 }

 .about_content h2 {
     margin: 10px 0;
     font-size: 67px;
     color: #ffffff;
     font-weight: 400;
     font-family: "Righteous";
 }

 .about_content p {
     font-size: 27px;
     color: #ffffff;
     font-weight: 400;
     font-family: "Poppins";
 }

 .about_content button {
     font-size: 21px;
     letter-spacing: 0px;
     color: #5e9a62;
     font-weight: 600;
     font-family: "Poppins";
     text-align: center;
     border-radius: 20px;
     padding: 5px 20px;
 }

 /* <!-- section Work Gallery start  --> */

 #Work {
     width: 100%;
     padding: 40px 0;
 }

 .graphic_work_gallery {
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
 }

 #Work h2 {
     font-size: 83px;
     color: #2b3c53;
     font-weight: 400;
     font-family: "Righteous";
     text-align: center;
 }

 .graphic_work {
     width: 33%;
 }

 .graphic_work img {
     width: 85%;
     margin: 0 auto;
     display: table;
 }

 .graphic_work h3 {
     font-size: 33px;
     letter-spacing: 1px;
     color: #2b3c53;
     font-weight: 600;
     font-family: "Poppins";
     text-align: center;
     margin: 0;
 }

 .graphic_work p {
     font-size: 23px;
     letter-spacing: 0px;
     color: #2b3c53;
     font-weight: 400;
     font-family: "Poppins";
     text-align: center;
     margin: 10px 0;
 }

 /* section study start  */
 #study {
     width: 100%;
     background: #5e9a62;
     padding: 200px 0 300px;
     overflow: hidden;
 }

 .study_graphic {
     width: 100%;
     text-align: center;
     position: relative;
 }

 .study_graphic::before {
     content: "";
     background: url(/Design-School/img/Study_befor.png) no-repeat;
     position: absolute;
     width: 1177px;
     height: 175px;
     top: -205px;
     right: -85px;
 }

 .study_graphic::after {
     content: "";
     background: url(/Design-School/img/Study_after.png) no-repeat;
     width: 1265px;
     height: 250px;
     position: absolute;
     left: -135px;
     bottom: -300px;
 }

 .study_graphic h2 {
     font-size: 67px;
     color: #ffffff;
     font-weight: 400;
     font-family: "Righteous";
     text-align: center;
     margin: 0;
 }

 .study_graphic p {
     font-size: 25px;
     color: #ffffff;
     font-weight: 400;
     font-family: "Poppins";
     text-align: center;
 }

 .button a {
     font-size: 21px;
     letter-spacing: 2px;
     color: #5e9a62;
     border: 2px solid white;
     padding: 5px 30px;
     border-radius: 20px;
     background-color: #ffffff;
     font-weight: 600;
     text-decoration: none;
     font-family: "Poppins";
     text-align: center;
 }

 /* section Online Education start  */
 #Online_education {
     width: 100%;
     background: #2b3c53;
     padding: 40px 0;
 }

 .Online_education_img {
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
 }

 .Online_education_content,
 .Img_online_education {
     width: 50%;
 }

 .Online_education_content h2 {
     font-size: 83px;
     letter-spacing: 8px;
     color: #ffffff;
     font-weight: 400;
     font-family: "Righteous";
 }

 .Online_education_content ul {
     display: block;
     list-style-type: disc;
 }

 .Online_education_content li {
     font-size: 24px;
     padding: 10px 0;
     color: #ffffff;
     font-weight: 400;
     font-family: "Poppins";
 }

 .Countact_online_education {
     text-align: center;
     width: 100%;
 }

 .Countact_online_education h3 {
     font-size: 50px;
     color: #ffffff;
     font-weight: 300;
     font-family: "Poppins";
 }

 .Countact_online_education h4 {
     font-size: 42px;
     letter-spacing: 1px;
     color: #ffffff;
     font-weight: 600;
     font-family: "Righteous";
     margin: 30px 0;
 }

 .Ellipse_Triangle {
     display: table;
     margin: 20px auto;
     width: 50%;
 }

 .Ellipse,
 .Triangle {
     width: 100%;
     background-color: #5e9a62;
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
     border-radius: 10px;
     padding: 10px;
 }

 .Ellipse img,
 .Triangle img {
     width: 15%;
 }

 .Ellipse h5,
 .Triangle h5 {
     font-size: 30px;
     color: #ffffff;
     font-weight: 600;
     font-family: "Montserrat";
     margin: 0;
     width: 80%;
 }

 .Img_online_education img {
     width: 90%;
 }

 /* section Creativity start  */
 #Creativity {
     width: 100%;
     padding: 40px 0;
 }

 #Creativity h2 {
     font-size: 63px;
     color: #2b3c53;
     font-weight: 400;
     font-family: "Righteous";
     text-align: center;
     margin: 30px 0;
 }

 .Creativity_img {
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
 }

 .Img_Creativity,
 .Creativity_content {
     width: 48%;
 }

 .Img_Creativity img {
     width: 90%;
     display: table;
     margin: 0 auto;
 }

 .Creativity_content p {
     font-size: 25px;
     color: #2b3c53;
     font-weight: 400;
     font-family: "Poppins";
 }

 .Creativity_button a {
     text-decoration: none;
     font-size: 21px;
     letter-spacing: 2px;
     color: #ffffff;
     background: #2b3c53;
     font-weight: 500;
     font-family: "Poppins";
     text-align: center;
     border-radius: 20px;
     padding: 5px 30px;
 }

 /* footer start  */
 footer {
     background: #2b3c53;
     width: 100%;
     padding: 40px 0;
 }

 .footernav {
     width: 100%;
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
 }

 .footer_Design_school {
     width: 42%;
 }

 .footer_about,
 .footer_services {
     width: 19%;
 }

 .footer_other {
     width: 16%;
 }

 .footer_Design_school h2,
 .footer_about h2,
 .footer_services h2,
 .footer_other h2 {
     font-size: 33px;
     color: #ffffff;
     font-weight: 500;
     font-family: "Righteous";
 }

 .footer_Design_school p {
     font-size: 24px;
     color: #ffffff;
     font-weight: 300;
     font-family: "Poppins";
 }

 .footer_Design_school ul li {
     margin-right: 10px;
 }

 .footer_about ul,
 .footer_services ul,
 .footer_other ul {
     display: block;
 }

 .footer_about ul li,
 .footer_services ul li,
 .footer_other ul li {
     padding: 5px 0;
     margin: 0;
 }

 .footer_about ul li a,
 .footer_services ul li a,
 .footer_other ul li a {
     font-size: 24px;
     color: #ffffff;
     font-weight: 300;
     font-family: "Poppins";
 }

 @media only screen and (max-width: 1024px) {
     .container {
         width: 924px;
         margin: 0 50px;
     }

     nav {
         overflow-x: hidden;
     }

     .li_img {
         margin-right: 0;
     }

     nav ul li {
         margin-right: 35px;
     }

     .design_center h1 {
         font-size: 55px;
     }

     .design_center h3 {
         font-size: 19px;
     }

     .design_center p {
         font-size: 18px;
     }

     #Work h2 {
         font-size: 75px;
         margin: 45px 0;
     }

     .about_content p {
         font-size: 22px;
     }

     .graphic_work h3 {
         font-size: 30px;
     }

     .graphic_work p {
         font-size: 20px;
     }

     .study_graphic::before,
     .study_graphic::after {
         width: 100%;
     }

     .study_graphic p {
         font-size: 22px;
     }

     .Online_education_content h2 {
         font-size: 75px;
         margin: 45px 0;
     }

     .Online_education_content li {
         font-size: 18px;
         margin-right: 20px;
     }

     .Countact_online_education h3 {
         font-size: 45px;
         margin: 40px 0;
     }

     .Countact_online_education h4 {
         font-size: 40px;
     }

     .Ellipse h5,
     .Triangle h5 {
         font-size: 28px;
     }

     .Creativity_content p {
         font-size: 23px;
     }

     .footer_Design_school p {
         font-size: 20px;
     }

     .footer_about ul li a,
     .footer_services ul li a,
     .footer_other ul li a {
         font-size: 20px;
     }
 }

 @media only screen and (max-width: 900px) {
     nav ul li {
         margin-right: 25px;
     }

     .container {
         width: 820px;
         margin: 0 40px;
     }

     .design_center {
         width: 60%;
     }

     .design_center h1 {
         font-size: 55px;
     }

     .design_center h3 {
         font-size: 19px;
     }

     .design_center p {
         font-size: 17px;
     }

     .design_school::before {
         left: -345px;
     }

     .about_content p,
     .study_graphic p {
         font-size: 19px;
     }

     .about_content h2,
     .study_graphic h2,
     #Creativity h2 {
         font-size: 60px;
     }

     #Work h2,
     .Online_education_content h2 {
         font-size: 70px;
     }

     .graphic_work h3 {
         font-size: 28px;
     }

     .graphic_work p {
         font-size: 18px;
     }

     .study_graphic::before,
     .study_graphic::after {
         width: 100%;
     }

     .study_graphic::after {
         height: 165px;
         bottom: -200px;
     }

     #study {
         padding-bottom: 200px;
     }

     .Online_education_content li {
         font-size: 18px;
         margin: 0 10px 0 0;
     }

     .Countact_online_education h3 {
         font-size: 40px;
         margin: 20px 0;
     }

     .Countact_online_education h4 {
         font-size: 30px;
         margin: 10px 0;
     }

     .Ellipse h5,
     .Triangle h5 {
         font-size: 22px;
     }

     .Img_online_education img {
         width: 100%;
     }

     .Creativity_content p,
     .footer_Design_school p {
         font-size: 18px;
     }

     .footer_Design_school h2,
     .footer_about h2,
     .footer_services h2,
     .footer_other h2 {
         font-size: 30px;
     }

     .footer_about ul li a,
     .footer_services ul li a,
     .footer_other ul li a {
         font-size: 18px;
     }
 }

 @media only screen and (max-width: 768px) {
     .container {
         width: 688px;
     }

     .Online_education_content ul {
         position: unset;
     }

     nav ul {
         z-index: 1000;
     }

     nav ul li {
         margin: 10px 0;
     }

     .design_center h1 {
         font-size: 50px;
     }

     .design_center h3 {
         font-size: 15px;
     }

     .design_center p {
         font-size: 14px;
     }

     .design_school::before {
         left: -400px;
     }

     .design_school::after {
         top: -54px;
         right: -380px;
     }

     .about_content h2,
     .study_graphic h2,
     #Creativity h2 {
         font-size: 50px;
     }

     .about_content p,
     .study_graphic p {
         font-size: 16px;
     }

     .about_content button,
     .button a,
     .Creativity_button a {
         font-size: 18px;
     }

     #Work h2,
     .Online_education_content h2 {
         font-size: 60px;
     }

     .graphic_work h3 {
         font-size: 24px;
     }

     .graphic_work p {
         font-size: 16px;
     }

     .Online_education_content li {
         font-size: 14px;
     }

     .Countact_online_education h3 {
         font-size: 30px;
     }

     .Countact_online_education h4 {
         font-size: 25px;
     }

     .Ellipse h5,
     .Triangle h5 {
         font-size: 18px;
     }

     .Creativity_content p,
     .footer_Design_school p {
         font-size: 15px;
     }

     .footer_Design_school ul,
     .footer_about ul,
     .footer_services ul,
     .footer_other ul {
         position: unset;
     }

     .footer_Design_school h2,
     .footer_about h2,
     .footer_services h2,
     .footer_other h2 {
         font-size: 26px;
     }

     .footer_about ul li a,
     .footer_services ul li a,
     .footer_other ul li a {
         font-size: 15px;
     }

     .footer_Design_school ul li a img {
         width: 100%;
     }

     .footer_Design_school ul {
         flex-direction: unset;
         justify-content: start;
     }
 }

 @media only screen and (max-width: 767px) {}

 @media only screen and (max-width: 360px) {
     .container {
         width: 320px;
         margin: 0 20px;
     }

     .design_school::before,
     .design_school::after {
         position: unset;
     }

     .design_center {
         width: 100%;
     }

     .design_center h1 {
         font-size: 45px;
     }

     .design_center p {
         font-size: 13px;
     }

     .design_center button {
         font-size: 18px;
     }

     .about_img,
     .about_content {
         width: 100%;
     }

     .about_content {
         text-align: center;
     }

     .about_content p,
     .study_graphic p {
         font-size: 14px;
     }

     #Work h2,
     .Online_education_content h2 {
         font-size: 50px;
         margin: 20px 0;
     }

     .graphic_work {
         width: 100%;
     }

     .graphic_work h3 {
         font-size: 32px;
     }

     .graphic_work p {
         font-size: 23px;
     }

     .study_graphic::before,
     .study_graphic::after {
         width: 100%;
         height: 85px;
     }

     .study_graphic::before {
         top: -103px;
     }

     .study_graphic::after {
         bottom: -103px;
     }

     #study {
         padding: 100px 0;
     }

     .Online_education_content,
     .Img_online_education,
     .Img_Creativity,
     .Creativity_content {
         width: 100%;
     }

     .study_graphic h2 {
         font-size: 45px;
     }

     .about_content p,
     .study_graphic p {
         font-size: 12px;
     }

     .Online_education_content {
         text-align: center;
     }

     .Online_education_content h2 {
         font-size: 45px;
     }

     .Online_education_content ul {
         list-style-type: none;
     }

     .Online_education_content li {
         font-size: 13px;
         margin: 0;
     }

     .Img_online_education img {
         width: 80%;
         display: table;
         margin: 0 auto;
     }

     .Creativity_content {
         text-align: center;
     }

     .Creativity_content p {
         font-size: 14px;
     }

     .footer_Design_school {
         width: 100%;
         text-align: center;
     }

     .footer_about,
     .footer_services {
         width: 50%;
         text-align: center;
     }

     .footer_other {
         width: 50%;
         text-align: center;
         display: table;
         margin: 0 auto;
     }

     .footer_Design_school h2,
     .footer_about h2,
     .footer_services h2,
     .footer_other h2 {
         font-size: 38px;
         margin: 15px 0;
     }

     .footer_Design_school ul {
         justify-content: center;
     }

     .design_school {
         margin: 60px 0;
     }

     #about {
         padding: 60px 0;
     }

 }

 @media only screen and (max-width: 320px) {
     .container {
         width: 300px;
         margin: 0 10px;
     }

     .design_center h1 {
         font-size: 42px;
     }

     .design_center h3 {
         font-size: 14px;
     }

     .study_graphic h2 {
         font-size: 42px;
     }

     .design_center p {
         font-size: 12px;
     }

     .Online_education_content li,
     .Creativity_content p {
         font-size: 12px;
     }

 }